<%= form_tag search_path, :method => :get do %>
  <%= label_tag :q, 'Search:' %> 
  <%= text_field_tag :q, params[:q] %>
<% end %>

<% if params[:q] %>
  <% if @post_results.empty? %>
    <p>Sorry, there were no results for your query.</p>
  <% else %>
    <ul class="search_results">
      <% @post_results.each do |post_result| %>
        <li>
          <h3><%= link_to (post_result.highlight['title'].try(:html_safe) || post_result.title), post_path(post_result.external_id) %></h3>
          <%= post_result.highlight["body"].try(:html_safe) || post_result.body %>
        </li>
      <% end %>
    </ul>

    <% if @result_set.current_page > 1 %>
      <%= link_to '< previous', search_path(:q => params[:q], :page => @result_set.current_page - 1) %>
    <% end %>
    
    <% if @result_set.num_pages > @result_set.current_page %>
      <%= link_to 'next >', search_path(:q => params[:q], :page => @result_set.current_page + 1) %>
    <% end %>
  <% end %>
<% end %>
