<!DOCTYPE html>
<html>
<head>
  <title>My Awesome Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<title>
  <% if content_for?(:title) %>
    <%= content_for(:title) %> - My Awesome Blog
  <% else %>
    My Awesome Blog
  <% end %>
</title>

<div id="container">
  <div id="header">
    <div class="left">
      <h1><%= link_to_unless(current_page?(root_path), 'My Awesome Blog', root_path) %></h1>
      <h2>By Random Hacker</h2>
    </div>
    <div class="right">
      <form>
        <input type='text' id='st-search-input' class='st-search-input'/>
      </form>
    </div>
    <br style="clear: both">
  </div>

  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% end %>

  <div id="content">
    <div id="st-results-container" class="st-result-listing"></div>
    <%= yield %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#st-search-input').swiftypeSearch({
    resultContainingElement: '#st-results-container',
    engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>'
  });
  $('#st-search-input').swiftype({
    engineKey: '<%= ENV['SWIFTYPE_ENGINE_KEY'] %>'
  });
});
</script>
</body>
</html>
